@model eSocium.Web.Models.OpenQuestions.Question

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
<script src="@Url.Content("~/Scripts/Open/CreateQuestions.js")"></script>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Question</legend>

        @Html.Hidden("poll_id", Model.Poll.PollId)

        <div class="editor-label">
             <label for="header">Has header?</label>
        </div>
        <div class="editor-field">
            <input type="checkbox" name="header" value = "true" id="hasHeaderCheckbox" 
               @Html.Raw(((ViewBag.header) ? "checked=\"checked\"" : ""))/>
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Form)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Form)
            @Html.ValidationMessageFor(model => model.Form)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Mark)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Mark)
            @Html.ValidationMessageFor(model => model.Mark)
        </div>

        <div class="editor-label">
            <label for="xlsFile">An .xlsx file to upload</label>
        </div>
        <div class="editor-field">
            <input id="xlsFile" type="file" name="xlsFile" />
            @if (ViewBag.FileError != null)
            {
                @ViewBag.FileError.ToString();
            }
        </div>

        <div class="editor-label">
            <label for="sheetNumber">Number of sheet with questions</label>
        </div>
        <div class="editor-field">
            <input id="sheetNumber" type="text" name="sheetNumber" value=@ViewBag.SheetNumber />
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to Poll", "Details", "OpenPoll", new { id = Model.Poll.PollId }, null)
</div>