@model eSocium.Web.Models.OpenQuestions.Poll
@using eSocium.Web.Models.OpenQuestions

@{
    ViewBag.Title = "Poll Details";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>
@Html.DisplayFor(model => model.Description)
@Html.DisplayFor(model => model.Date)

<h2>@Html.DisplayNameFor(model => model.Questions)</h2>
@if (Model.Questions.Count != 0)
{
    <p>
        @Html.ActionLink("Add New Questions", "Create", "OpenQuestion", new { poll_id = Model.PollId }, null)
    </p>
    <div class="display-field">
    <table>
        <tr>
            <th>
                Mark
            </th>
            <th>
                Formulation
            </th>
            <th></th>
        </tr>
    @foreach (var item in Model.Questions)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Label)
            </td>
            <td>
                @Html.DisplayFor(model => item.Wording)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "OpenQuestion", new { id = item.QuestionId }, null) |
                @Html.ActionLink("Details", "Details", "OpenQuestion", new { id = item.QuestionId }, null) |
                @Html.ActionLink("Delete", "Delete", "OpenQuestion", new { id = item.QuestionId }, null)
            </td>
        </tr>
    }
    </table>
    </div>
}
else
{
    <p>
        There are no questions in this poll.
        You may @Html.ActionLink("add new questions", "Create", "OpenQuestion", new { poll_id = Model.PollId }, null) whenever you want.
    </p>
}
<p>
    @Html.ActionLink("Edit poll", "Edit", new { id = Model.PollId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
